html{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(30, 38%, 92%);
   
    display: flex;
    justify-content: center;
/* flex-direction: column; */
    margin-top: 20%;
    

}
.c1{
   width:450px;
   height: 350px;

    /* border: 10px solid black; */
    border-radius: 10%;
    display: flex;
    justify-content: center;


}
.pic{
    width: 50%;
    
}
.img{
    width: 100%;
    border-radius: 5% 0 0 5%;
}
.txt{
    padding-left: 10px;
    border-radius: 0 5% 5% 0;
    width: 50%;
    background-color: white;
    text-align:left;
}
.h1{
    font-family: monospace;
}
.p1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.rp{
color: green;
}
.price{
    display: flex;
    justify-content: space-evenly;
    
    flex-direction: row;
}
.op{
    margin-top: 30px;
    font-size: 12px;
    text-decoration: line-through;
}
.button{
    display: flex;
    justify-content: center;
    
    
}
.add{
    
    width: 70%;
    
    background-color: rgb(13, 118, 13);
    color: white;
    
    /* border: 0px solid  rgb(13, 118, 13); */
    border-radius: 20%;
}
@media only screen and (max-width:377px){
    body{
    margin-top: 5%;
    background-color:  background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content:center;
    flex-direction: row;

    }
    .c1{
        width: 350px;
        height: auto;
        /* border: 2px solid black; */
        border-radius: 4%;

        display: flex;
    justify-content:center;
    flex-direction: column

    }
    .pic{
        width: 100%;
        height: 300px;
        
        
    }
    .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5% 5% 0 0;
    }
    .txt{
        width: 96%;
        height: 60%;

        border-radius: 0 0 5% 5%;
    }
    .add{
    
        width: 60%;
        height: 70%;
        
        background-color: rgb(13, 118, 13);
        color: white;
        
        /* border: 0px solid  rgb(13, 118, 13); */
        border-radius: 10%;
    }
    .button{
        padding-bottom: 5%;
    }
    
    
} 